body {
    font-family: Arial, sans-serif;
    background: #efefef;
    padding: 30px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    background: #ddd;
    border: 1px solid #ccc;
}

.menu ul li {
    position: relative;
}

.menu > ul > li > a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #000;
    background: #eee;
    border-right: 1px solid #ccc;
}

.menu > ul > li > a:hover {
    background: #fff;
}

/* SUBMENU */
.submenu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 160px;
    border: 1px solid #ccc;
    background: #f6f6f6;
}

.submenu:hover .dropdown {
    display: block;
}

.dropdown li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.dropdown li a:hover {
    background: #888;
    color: white;
}